<%= form_for @brand do |f| %>
<div class="card-width">
  <div class="card">
    <div class="columns">
      <div class="card-image">
        <figure class="image is-128x128">
          <%= f.file_field :profile_image %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
            </figure>
          </div>
          <div class="media-content">
            <%= f.label :name, class: 'label' %>
            <%= f.text_field :name, class: 'input' %>
            <br>
            <br>
            <%= f.label :description, class: 'label' %>
            <%= f.text_area :description, class:'textarea' %>
            <br>
            <br>
            <%= f.label :skills_and_interests, class: 'label' %>
            <%= f.text_area :skills_and_interests, class:'textarea' %>
            <br>
            <br>
            <%= f.label :charities_and_causes, class: 'label' %>
            <%= f.text_area :charities_and_causes, class:'textarea' %>
          </div>
        </div>
        <div>
          <%= f.submit %>
        </div>
      </div>
    </div>
  </div>
</div>

<%end%>
